body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #DEE7E7;
}
header {
    background-color: #B7ADCF;
    padding: 0.75rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
#locationInput {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#location {
    border-radius: 1rem;
    text-align: center;
    width: 5rem;
}
#locationData {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}
#locationData p {
    margin: 1rem;
}
#dateBox {
    display: flex;
}
#placeBox {
    display: flex;
}
.infoTitle {
    display: flex;
    font-weight: bold;
}
.infoTitle p {
    text-align: center;
}
#cardHolder {
    display: flex;
    justify-content: center;
    margin: 1rem;
}
#weatherCard {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 2rem;
    width: 30vw;
    height: fit-content;
    background-color: #4F646F;
    box-shadow: 10px 10px 7px #171c1e;
}
#locality {
    color: #a0c9df;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}
.dataTitle {
    font-weight: bold;
    color: #a0c9df;
}
#currentConditions {
    display: flex;
    justify-content: space-between;
}
#tempDataBlock {
    display: flex;
    justify-content: space-evenly;
}
#currentWeatherBox {
    display: flex;
    border: none;
    align-items: center;
}
#weatherIcon {
    width: 30%;
    height: 30%;
}
#currentTemp {
    color: #F4FAFF;
}#currentWeather {
    color: #F4FAFF;
}
#feelsLike {
    color: #F4FAFF;
}
#windSpeed {
    color: #F4FAFF;
}
#lo {
    color: #F4FAFF;
}
#hi {
    color: #F4FAFF;
}
footer {
    position: absolute;
    bottom: 0;
    background-color: #B7ADCF;
    width: 100%;
}
footer p {
    text-align: center;
    margin: 0;
}